.delay-0 {
    transition-delay: 0ms !important;
}

.delay-50 {
    transition-delay: 50ms !important;
}

.delay-100 {
    transition-delay: 100ms !important;
}

.delay-150 {
    transition-delay: 150ms !important;
}

.delay-200 {
    transition-delay: 200ms !important;
}

.delay-250 {
    transition-delay: 250ms !important;
}

.delay-300 {
    transition-delay: 300ms !important;
}

.delay-350 {
    transition-delay: 350ms !important;
}

.delay-400 {
    transition-delay: 400ms !important;
}

.delay-450 {
    transition-delay: 450ms !important;
}

.delay-500 {
    transition-delay: 500ms !important;
}

.delay-550 {
    transition-delay: 550ms !important;
}

.delay-600 {
    transition-delay: 600ms !important;
}

.delay-650 {
    transition-delay: 650ms !important;
}

.delay-700 {
    transition-delay: 700ms !important;
}

.delay-750 {
    transition-delay: 750ms !important;
}

.delay-800 {
    transition-delay: 800ms !important;
}